<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add New Post</h1>
    <div>
        <form action="/add-post" method="post" enctype="multipart/form-data">
        Image : <input type="file" name="image" required>
        <br><br>
        Caption: <input type="text" name="caption" required>
        <br><br>
        <button>Add</button>
        </form>
    </div>
</body>
</html>