<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Update Post</h1>
    <div>
        <form action="/update-post" method="post" enctype="multipart/form-data">
            <input type="hidden" th:value="${post.id}" name="id">
            <img th:src="${post.imageUrl}" height="150px" width="150px"><br>
            Image (Leave Blank if Dont want to change) : <input type="file" name="image">
        <br><br>
        Caption: <input type="text" th:value="${post.caption}" name="caption" required>
        <br><br>
        <button>Update</button>
        </form>
    </div>
</body>
</html>